{% extends "base_generic.html"%} {% load static %} {% block css %}
<link href="{% static 'css/fan_page.css' %}" rel="stylesheet" /> {% endblock css %} {% block content %}

<div class="container container-md container-sm p-0 pt-4">
    <div class="contents">
        <h2 class="contents__title">팬페이지</h2>

        <div class="search border-radius shadow mt-4">
            <div class="search__team__list row h-100 justify-content-around border-radius shadow mx-0 px-3">
                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center active">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kbo.png' %}" alt="logo__kbo" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">전체</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__nc.png' %}" alt="logo__nc" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">NC</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__doosan.png' %}" alt="logo__doosan" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">두산</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kt.png' %}" alt="logo__kt" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">KT</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__lg.png' %}" alt="logo__lg" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">LG</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kiwoom.png' %}" alt="logo__kiwoom" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">키움</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kia.png' %}" alt="logo__kia" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">KIA</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__lotte.png' %}" alt="logo__lotte" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">롯데</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__samsung.png' %}" alt="logo__samsung" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">삼성</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__ssg.png' %}" alt="logo__ssg" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">SSG</span>
                    </div>
                </div>

                <div class="search__team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="search__team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__hanhwa.png' %}" alt="logo__hanhwa" class="search__team__item__logo">
                    </div>
                    <div class="search__team__item__title__container d-block h-50 mt-3">
                        <span class="search__team__item__title d-inline-block py-1 px-3 border-radius">한화</span>
                    </div>
                </div>
            </div>

            <div class="search__position row border-radius shadow mx-0 mt-4 px-3">
                <div class="search__position__item position__all__container col-4 py-1 px-0 active">
                    <span class="search__position__item__text position__all d-inline-block py-1 px-3 border-radius">전체</span>
                </div>
                <div class="search__position__item position__pitcher__container col-4 py-1 px-0">
                    <span class="search__position__item__text position__pitcher d-inline-block py-1 px-3 border-radius">투수</span>
                </div>
                <div class="search__position__item position__batter__container col-4 py-1 px-0">
                    <span class="search__position__item__text position__batter d-inline-block py-1 px-3 border-radius">타자</span>
                </div>
            </div>

            <div class="search__consonants row border-radius shadow mx-0 mt-4 px-3 float-left">
                <div class="search__consonants__item consonants__giyeok col px-0 py-2 active">
                    <span class="search__consonants__item__text px-1 border-radius">ㄱ</span>
                </div>
                <div class="search__consonants__item consonants__nieum col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㄴ</span>
                </div>
                <div class="search__consonants__item consonants__diguet col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㄷ</span>
                </div>
                <div class="search__consonants__item consonants__rieul col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㄹ</span>
                </div>
                <div class="search__consonants__item consonants__mieum col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅁ</span>
                </div>
                <div class="search__consonants__item consonants__bieup col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅂ</span>
                </div>
                <div class="search__consonants__item consonants__siot col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅅ</span>
                </div>
                <div class="search__consonants__item consonants__ieung col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅇ</span>
                </div>
                <div class="search__consonants__item consonants__jieut col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅈ</span>
                </div>
                <div class="search__consonants__item consonants__cheiut col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅊ</span>
                </div>
                <div class="search__consonants__item consonants__kieuk col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅋ</span>
                </div>
                <div class="search__consonants__item consonants__tieut col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅌ</span>
                </div>
                <div class="search__consonants__item consonants__pieup col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅍ</span>
                </div>
                <div class="search__consonants__item consonants__hieut col px-0 py-2">
                    <span class="search__consonants__item__text px-1 border-radius">ㅎ</span>
                </div>
            </div>

            <div class="search__input border-radius shadow mx-0 mt-4 float-right">
                <input type="text" class="search__input__text border-radius px-3" placeholder="선수명을 입력해주세요." />
                <button type="button" class="btn search__input__button">
                    <img src="{% static 'images\fan_page\search__btn.png' %}" alt="search__input__button__image" class="search__input__button__image">
                </button>
            </div>

        </div>

        <div class="bookmark_player mt-5">

            <div class="bookmark_player__header ml-4">
                <img src="{% static 'images\fan_page\title_circle.png' %}" alt="bookmark_player__header__image" class="bookmark_player__header__image">
                <h3 class="bookmark_player__header__title d-inline-block ml-2">즐겨찾는 선수</h3>
            </div>

            <div class="bookmark_player__list players__list row justify-content-start mx-0 mt-4">

                <div class="bookmark_player__item player__item border-radius shadow col-2 p-0">
                    <div class="bookmark_player__item__header player__item__header">
                        <span class="bookmark_player__item__header__number player__item__header__number">#21</span>
                        <span class="bookmark_player__item__header__name player__item__header__name">강동연</span>
                        <span class="bookmark_player__item__header__team player__item__header__team">NC</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Dong-Yeon.png' %}" alt="bookmark_player__item__image" class="bookmark_player__item__image player__item__image">

                    <div class="bookmark_player__item__bookmark_btn__container player__item__bookmark_btn__container m-0 active">
                        <button type="button" class="btn bookmark_player__item__bookmark_btn player__item__bookmark_btn active"></button>
                    </div>
                </div>

                <div class="bookmark_player__item player__item border-radius shadow col-2 p-0">
                    <div class="bookmark_player__item__header player__item__header">
                        <span class="bookmark_player__item__header__number player__item__header__number">#50</span>
                        <span class="bookmark_player__item__header__name player__item__header__name">강백호</span>
                        <span class="bookmark_player__item__header__team player__item__header__team">KT</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Baek-Ho.png' %}" alt="bookmark_player__item__image" class="bookmark_player__item__image player__item__image">

                    <div class="bookmark_player__item__bookmark_btn__container player__item__bookmark_btn__container m-0 active">
                        <button type="button" class="btn bookmark_player__item__bookmark_btn player__item__bookmark_btn active"></button>
                    </div>
                </div>

                <div class="bookmark_player__item player__item border-radius shadow col-2 p-0" onclick="location.href='detail'" role="button">
                    <div class="bookmark_player__item__header player__item__header">
                        <span class="bookmark_player__item__header__number player__item__header__number">#25</span>
                        <span class="bookmark_player__item__header__name player__item__header__name">양의지</span>
                        <span class="bookmark_player__item__header__team player__item__header__team">NC</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Yang_Eui-Ji.png' %}" alt="bookmark_player__item__image" class="bookmark_player__item__image player__item__image">

                    <div class="bookmark_player__item__bookmark_btn__container player__item__bookmark_btn__container m-0 active">
                        <button type="button" class="btn bookmark_player__item__bookmark_btn player__item__bookmark_btn active"></button>
                    </div>
                </div>

            </div>

        </div>

        <hr class="hr mt-5">

        <div class="general_players mt-5">
            <div class="general_players__list players__list row justify-content-start mx-0">

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#33</span>
                        <span class="general_players__item__header__name player__item__header__name">가빌리오</span>
                        <span class="general_players__item__header__team player__item__header__team">SSG</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Gaviglio.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#25</span>
                        <span class="general_players__item__header__name player__item__header__name">강동연</span>
                        <span class="general_players__item__header__team player__item__header__team">NC</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Dong-Yeon.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0 active">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn active"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#66</span>
                        <span class="general_players__item__header__name player__item__header__name">강동호</span>
                        <span class="general_players__item__header__team player__item__header__team">롯데</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Dong-Ho.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#1</span>
                        <span class="general_players__item__header__name player__item__header__name">강로한</span>
                        <span class="general_players__item__header__team player__item__header__team">롯데</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Ro-Han.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#105</span>
                        <span class="general_players__item__header__name player__item__header__name">강 민</span>
                        <span class="general_players__item__header__team player__item__header__team">LG</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Min.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#76</span>
                        <span class="general_players__item__header__name player__item__header__name">강민성</span>
                        <span class="general_players__item__header__team player__item__header__team">롯데</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Min-Seong.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#47</span>
                        <span class="general_players__item__header__name player__item__header__name">강민호</span>
                        <span class="general_players__item__header__team player__item__header__team">삼성</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Min-Ho.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#50</span>
                        <span class="general_players__item__header__name player__item__header__name">강백호</span>
                        <span class="general_players__item__header__team player__item__header__team">KT</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Baek-Ho.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0 active">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn active"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#19</span>
                        <span class="general_players__item__header__name player__item__header__name">강상원</span>
                        <span class="general_players__item__header__team player__item__header__team">한화</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Sang-Won.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#25</span>
                        <span class="general_players__item__header__name player__item__header__name">강승호</span>
                        <span class="general_players__item__header__team player__item__header__team">두산</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Seung-Ho.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#65</span>
                        <span class="general_players__item__header__name player__item__header__name">강윤구</span>
                        <span class="general_players__item__header__team player__item__header__team">롯데</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Yoon-Koo.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#27</span>
                        <span class="general_players__item__header__name player__item__header__name">강이준</span>
                        <span class="general_players__item__header__team player__item__header__team">KIA</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Yi-Jun.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#55</span>
                        <span class="general_players__item__header__name player__item__header__name">강재민</span>
                        <span class="general_players__item__header__team player__item__header__team">한화</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Jae-Min.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>

                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#99</span>
                        <span class="general_players__item__header__name player__item__header__name">강지광</span>
                        <span class="general_players__item__header__team  player__item__header__team">SSG</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Ji-Kwang.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>
                <div class="general_players__item player__item border-radius shadow col-2 p-0">
                    <div class="general_players__item__header player__item__header">
                        <span class="general_players__item__header__number player__item__header__number">#49</span>
                        <span class="general_players__item__header__name player__item__header__name">강진성</span>
                        <span class="general_players__item__header__team player__item__header__team">NC</span>
                        <img src="{% static 'images\fan_page\player__item__header__overlay.png' %}" alt="player__item__header__overlay" class="general_players__item__header__overlay player__item__header__overlay">
                    </div>

                    <img src="{% static 'images\fan_page\Kang_Jin-Sung.png' %}" alt="player__item__image" class="general_players__item__image player__item__image">

                    <div class="general_players__item__bookmark_btn__container player__item__bookmark_btn__container m-0">
                        <button type="button" class="general_players__item__bookmark_btn player__item__bookmark_btn btn"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="general_players__more mt-5">
            <button type="button" class="btn general_players__more__btn btn-outline-light">
                <span class="general_players__more__btn__text d-block">더보기</span>
                <img src="{% static 'images\fan_page\fan_35.png' %}" alt="general_players__more__btn__image" class="general_players__more__btn__image mt-3">
            </button>
        </div>

    </div>
</div>
</div>

{% endblock content %} {% block script %}

<!-- page control -->
<script src="{% static 'js\controlFanPage.js' %}"></script>
<script src="{% static 'js\searchInfo.js' %}"></script>


{% endblock script %}