@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);

/* contents */

.contents {}


/* streaming_and_chatting */

.streaming_and_chatting {
    flex: 0 0 66.3%;
}


/* streaming */

.streaming {}

.video_player {
    position: relative;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.video_player__video {
    width: 100%;
}

.video_player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    transform: translateY(100%);
    transition: 0.3s;
    flex-wrap: wrap;
    background: linear-gradient(transparent, black);
}

.video_player__controls__left {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video_player__controls__right {
    display: flex;
    align-items: center;
}

.video_player:hover .video_player__controls {
    transform: translateY(0);
}

.play_button,
.setting_button,
.full_content_button,
.full_screen_button {
    border: none;
    background: transparent;
    color: var(--white);
}

.play_button__icon {
    font-size: 24px;
}

.setting_button__icon,
.full_content_button__icon,
.full_screen_button__icon {
    font-size: 18px;
}

.video_player__controls__volume [type="range"] {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 1.5em;
    background: transparent;
    outline: none;
}

.video_player__controls__volume [type="range"],
.video_player__controls__volume [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.video_player__controls__volume [type="range"]::-webkit-slider-thumb {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.video_player__controls__volume [type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}

.video_player__controls__volume {
    display: flex;
}

.video_player__controls__volume__btn {
    color: var(--white);
    line-height: inherit;
}

.video_player__controls__volume__btn:hover {
    color: var(--white);
}

.video_player__controls__volume__btn i {
    font-size: 20px;
}

.video_player__controls__volume__panel {
    position: relative;
    width: 0px;
    transition: width .2s;
    overflow: hidden;
}

.video_player__controls__volume__panel .input-div {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 100px;
    height: 3px;
}

.video_player__controls__volume__panel .input-div .volume-input-div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #424242;
}

.video_player__controls__volume__panel .input-div .volume-input-div input {
    position: absolute;
    top: -10px;
    cursor: pointer;
}

.video_player__controls__volume__panel .input-div .volume-input-div .volume-progress {
    background: #fff;
    width: 100px;
    height: 100%;
}

.preferences {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 100;
    width: 30%;
    max-width: 400px;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none;
}

.preferences.active {
    display: block;
}

.preferences__item {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
}

.preferences__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.preferences__item__title {
    float: left;
    color: var(--spanish-gray);
    font-size: 14px;
}

.preferences__item__text {
    float: right;
    color: var(--white);
}

.preferences__item__icon {
    float: right;
    color: var(--dark-gray);
}

.resolution__setting {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 100;
    width: 30%;
    max-width: 400px;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none;
}

.resolution__setting.active {
    display: block;
}

.resolution__setting__header {}

.resolution__setting__previous {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
    color: var(--white);
    text-align: left;
}

.resolution__setting__previous__icon {
    color: var(--dark-gray);
}

.resolution__setting__body {}

.resolution__setting__item {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
    color: var(--white);
    text-align: left;
}

.resolution__setting__item.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.resolution__setting__previous:hover,
.resolution__setting__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/*  */

.playback_speed__setting {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 100;
    width: 30%;
    max-width: 400px;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: none;
}

.playback_speed__setting.active {
    display: block;
}

.resolution__setting__header {}

.playback_speed__setting__previous {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
    color: var(--white);
    text-align: left;
}

.playback_speed__setting__previous__icon {
    color: var(--dark-gray);
}

.resolution__setting__body {}

.playback_speed__setting__item {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
    color: var(--white);
    text-align: left;
}

.playback_speed__setting__item.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.playback_speed__setting__previous:hover,
.playback_speed__setting__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.video_player__close {
    display: none;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 100;
    font-size: 40px;
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.streaming__item.active .video_player__close {
    display: block;
}

.video_player__close:hover {
    transform: scale(1.1);
}


/*  */

.streaming__item:hover .video-progress {
    /* height: 10px; */
}

.streaming__textbox {}

.streaming__info {}

.streaming__info__live_icon {
    width: 73px;
}

.streaming__info__header {}

.streaming__info__header__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-charcoal);
}

.streaming__info__header__gap {
    width: 2px;
    height: 16px;
    background-color: var(--dark-charcoal);
}

.streaming__info__header__league {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-charcoal);
}

.streaming__info__sub {
    font-size: 14px;
    color: var(--granite-gray);
}

.streaming__info__sub__today {}

.streaming__info__sub__gap {
    width: 1px;
    height: 12px;
    background-color: var(--granite-gray);
}

.streaming__info__sub__stadium {}

.streaming__info__sub__start {}

.streaming__etc {}

.streaming__etc__views {
    font-size: 14px;
    vertical-align: middle;
    color: var(--princeton-orange);
}

.streaming__etc__views__img {
    width: 18px;
}

.streaming__etc__views__text {}

.streaming__etc__time {
    vertical-align: middle;
    font-size: 14px;
}

.streaming__bottom {}

.streaming__bottom__item {
    vertical-align: middle;
    cursor: pointer;
    color: var(--dark-silver);
    transition: all 0.3s;
}

.streaming__bottom__item__box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
}

.streaming__bottom__like__box {
    background-image: url("/static/images/action_live/streaming__bottom__like__box.png");
}

.streaming__bottom__like.active .streaming__bottom__like__box {
    background-image: url("/static/images/action_live/streaming__bottom__like__box__active.png");
}

.streaming__bottom__item.active .streaming__bottom__item__text {
    color: var(--princeton-orange);
}

.streaming__bottom__item__text {
    font-size: 14px;
}

s .streaming__bottom__share__box {
    background-image: url("/static/images/action_live/streaming__bottom__share__box.png");
}

.streaming__bottom__share.active .streaming__bottom__share__text {
    color: var(--dark-silver);
    /* background-image: url("/static/images/action_live/sec1_06.png"); */
}

.streaming__bottom__add_to_playlist__box {
    background-image: url("/static/images/action_live/streaming__bottom__add_to_playlist__box.png");
}

.streaming__bottom__add_to_playlist.active .streaming__bottom__add_to_playlist__box {
    background-image: url("/static/images/action_live/streaming__bottom__add_to_playlist__box__active.png");
}


/* chatting */

.chatting {
    margin-top: 30px;
    background-color: var(--bright-gray);
}

.contents__header {
    height: 47px !important;
    line-height: 47px !important;
}

.contents__header__circle {
    width: 10px;
    vertical-align: baseline;
}

.contents__header__title {
    font-size: 16px;
    color: var(--dark-charcoal);
}

.chatting__header__toggle {
    display: inline-block;
    width: 50px;
    text-align: center;
    transform: translateY(40%);
    transition: all 0.3s;
}

.chatting__header__toggle__img {
    width: 20px;
    vertical-align: baseline;
    transition: all 0.3s;
}

.chatting__header__toggle.down .chatting__header__toggle__img {
    transform: rotate(0deg);
}

.chatting__header__toggle.up .chatting__header__toggle__img {
    transform: rotate(180deg);
}

.chatting__contents {
    position: relative;
    background-color: var(--white);
    transition: all 0.3s;
}

.chatting__contents.show {
    display: block;
}

.chatting__contents.hide {
    display: none;
}

.chatting__list {
    width: 90%;
    height: 200px;
    overflow: auto;
}

.chatting__list::-webkit-scrollbar {
    width: 10px;
}

.chatting__list::-webkit-scrollbar-track {
    background-color: var(--silver);
    width: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
}

.chatting__list::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border-radius: 10px;
}

.chatting__item {}

.chatting__item__header {
    vertical-align: top;
}

.chatting__item__header__user__icon {
    width: 40px;
}

.chatting__item__header__user__id {
    font-size: 12px;
    color: var(--granite-gray);
}

.chatting__item__box {}

.chatting__item__box__user__text {
    font-size: 13px;
    color: var(--dark-liver);
    background-color: var(--lavender);
    border-radius: 15px;
}

.chatting__item__box__user__text:first-child {
    border-radius: 0 15px 15px 15px;
}

.my_chatting__item {}

.my_chatting__item__box {}

.my_chatting__item__box__text {
    font-size: 14px;
    color: var(--white);
    background-color: var(--light-loyal-blue);
    border-radius: 15px;
}

.my_chatting__item__box__text:first-child {
    border-radius: 15px 0 15px 15px;
}

.my_chatting__item__header {
    vertical-align: top;
}

.my_chatting__item__header__user__id {
    font-size: 14px;
    color: var(--granite-gray);
    vertical-align: top;
    margin-top: 14px;
}

.chatting__input {
    border-radius: 10px !important;
}

.chatting__input__container {
    width: 90%;
    background-color: var(--platinumr);
    border-radius: 18px !important;
    vertical-align: middle;
}

.chatting__input__text {
    font-size: 14px;
    background-color: var(--platinum);
    border: none !important;
    border-radius: 18px !important;
}

.chatting__input__text.emoji-wysiwyg-editor {
    height: 45px !important;
    padding: 15px 15px;
    overflow: hidden;
}

.emoji-picker-icon {
    top: 10px !important;
    font-size: 26px !important;
}

.chatting__input__registration {}

.chatting__input__registration__img {
    width: 40px;
    cursor: pointer;
}


/* new login modal */

.login_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.login_modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 84px;
    background-color: var(--anti-flash-white);
    text-align: center;
}

.login_modal__box__header {
    font-size: 12px;
    color: var(--gray);
}

.login_modal__box__body {}

.login_modal__login_button {
    width: 54px;
    height: 23px;
    background-color: var(--gray);
    color: var(--white);
    font-size: 10px;
}

.login_modal__close_button {
    width: 54px;
    height: 23px;
    background-color: var(--philippine-silver);
    color: var(--white);
    font-size: 10px;
}


/*  */

.share_modal {}

.modal-dialog {
    margin: 5rem auto !important;
}

.share_modal__list {
    row-gap: 30px;
}

.share_modal__item {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--dove-gray);
}

.share_modal__facebook:hover {
    color: var(--facebook);
}

.share_modal__github:hover {
    color: var(--github);
}

.share_modal__google:hover {
    color: var(--google);
}

.share_modal__instagram:hover {
    color: var(--instagram);
}

.share_modal__line:hover {
    color: var(--line);
}

.share_modal__messenger:hover {
    color: var(--messenger);
}

.share_modal__slack:hover {
    color: var(--slack);
}

.share_modal__twitter:hover {
    color: var(--twitter);
}

.share_modal__link__text {
    width: 90%;
    font-size: 14px;
    vertical-align: middle;
}

.share_modal__link__btn {}

.share_modal__link__btn__icon {
    font-size: 22px;
    cursor: pointer;
    line-height: 1;
}


/* 기획 버전 login modal */


/* 
.login__modal__container {
    position: absolute;
    padding-right: 0;
    transition: all 0.3s linear;
} */


/* .login__modal__container.show+.login__modal__backdrop {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
    visibility: visible;
    transition: all 0.3s linear;
} */


/* .login__modal__box {
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) !important;
} */


/* 
.login__modal__contents {
    width: 180px;
    height: 84px;
}

.login__modal__contents__text {
    text-align: center;
    font-size: 12px;
}

.login__modal__btns {
    border-top: none;
}

.login__modal__yes,
.login__modal__no {
    min-width: 54px;
    padding: 0;
    font-size: 10px;
    color: var(--white)
}

.login__modal__no {
    background-color: var(--chatting-input-bg);
} */


/* 
.modal-backdrop:not(.login__modal__backdrop) {
    display: none !important;
} */


/* .login__modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    visibility: hidden;
    transition: all 0.3s linear;
} */


/* .modal-backdrop.show {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
} */


/* .modal-open {
    padding-right: 0px !important;
    overflow: auto;
} */


/* side */

.side {
    flex: 0 0 31.3%;
}


/* controls */

.controls {}

.controls__item {
    flex: 0 0 26%;
    max-width: 26%;
    border: 2px solid var(--item-border);
    cursor: pointer;
}

.controls__item.active {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__item:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__item__img {
    width: 40%;
    margin: 1rem auto 0rem;
}

.controls__item__text {
    margin: 0.7rem auto 0.5rem;
    font-size: 14px;
    color: var(--dark-liver);
}

.side__item {
    background-color: var(--anti-flash-white);
    margin-top: 30px !important;
}


/* setting */

.setting {
    display: none;
}

.setting.active {
    display: block;
}

.setting__header {
    position: relative;
    max-height: 56px;
}

.setting__header__circle {}

.setting__header__title {}

.setting__all__btn__label {
    position: absolute;
    left: 141px;
    top: 17px;
    z-index: 1;
    font-size: 10px;
    line-height: initial;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.setting__all__btn__label.active {
    left: 127px;
}

.setting__all__btn {
    position: relative;
    top: 5px;
    width: 45px;
    height: 20px;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.effects .setting__all__btn:checked {
    background: var(--princeton-orange);
}

.prediction .setting__all__btn:checked {
    background: var(--light-loyal-blue);
}

.player_info .setting__all__btn:checked {
    background: var(--medium-purple);
}

.setting__all__btn::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.setting__all__btn:checked::before {
    left: 26px;
}

.setting__alert {
    width: 20px;
    margin-top: 0.8rem;
    cursor: pointer;
}

.setting__description {
    display: none;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 3;
    width: 200px;
}

.setting__alert:hover+.setting__description {
    display: block;
}

.setting__contents {}

.setting__list {
    min-height: 220px;
    max-height: 220px;
    background: var(--white);
    box-shadow: 0px -4px 4px rgb(0 0 0 / 13%);
}

.setting__list__left {}

.setting__list__right {}

.setting__item {}

.setting__item__header {
    line-height: 1.2;
}

.setting__item__label {
    font-size: 14px;
    color: var(--dove-gray);
    vertical-align: top;
}

.prediction .setting__item__label {
    font-size: 11px;
}

.prediction .custom__btn__label {
    font-size: 14px;
}

.custom__description {
    font-size: 8px;
    color: var(--philippine-silver);
}

.setting__list__title {
    font-size: 14px;
    color: var(--dove-gray);
}

.setting__item__btn {
    position: relative;
    width: 50px;
    height: 25px;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.prediction .setting__item__btn {
    width: 35px;
    height: 18px;
}

.prediction .custom__btn {
    position: relative;
    width: 50px;
    height: 25px;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.effects .setting__item__btn:checked {
    background: var(--princeton-orange);
}

.prediction .setting__item__btn:checked {
    background: var(--light-loyal-blue);
}

.player_info .setting__item__btn:checked {
    background: var(--medium-purple);
}

.setting__item__btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction .setting__item__btn::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction .custom__btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.setting__item__btn:checked::before {
    left: 27px;
}

.prediction .setting__item__btn:checked::before {
    left: 18px;
}

.prediction .custom__btn:checked::before {
    left: 27px;
}


/* real_time_player */

.real_time_player {}

.real_time_player__header {}

.real_time_player__item {
    width: 100%;
    height: 44.7px;
    background: var(--white);
    position: relative;
    box-shadow: 0px -4px 4px rgb(0 0 0 / 13%);
}

.real_time_player__item__img {
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 80px;
}

.real_time_player__item__name {
    position: absolute;
    top: 7px;
    left: 120px;
    line-height: 1;
}

.real_time_player__item__name__kor {
    display: block;
    color: var(--dark-liver);
}

.real_time_player__item__name__eng {
    font-size: 10px;
    color: var(--spanish-gray);
}

.real_time_player__item__team {
    position: absolute;
    top: 8px;
    right: 30px;
}

.real_time_player__item__team__title {
    font-size: 12px;
    color: var(--dove-gray);
}

.real_time_player__item__team__img {
    width: 35px;
}


/* stats */

.stats {
    position: relative;
    height: 355px;
    background-image: url("/static/images/action_live/stats__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.stats__header {}

.stats__contents {
    position: relative;
    width: 95%;
    height: 87%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.stats__contents::-webkit-scrollbar {
    width: 10px;
}

.stats__contents::-webkit-scrollbar-track {
    margin-bottom: 20px;
}

.stats__contents::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border-radius: 10px;
}

.stats__player__img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80%;
    z-index: 2;
}

.stats__back_logo__img {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 50%;
    z-index: 1;
}

.stats__btns {
    position: relative;
    top: 10px;
    z-index: 10;
}

.stats__btns__share__img {
    width: 40px;
    cursor: pointer;
}

.stats__btns__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.stats__btns__bookmark {
    background-image: url("/static/images/action_live/stats__btns__bookmark.png");
}

.stats__btns__bookmark.active {
    background-image: url("/static/images/action_live/stats__btns__bookmark__active.png");
}

.stats__info {
    position: absolute;
    left: 65%;
    top: 70px;
    z-index: 2;
}

.stats__info__logo__img {
    width: 50px;
}

.stats__info__name {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-liver);
}

.stats__info__position {}

.stats__info__position__number__img {
    width: 40px;
}

.stats__info__position__box {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

.stats__info__position__box__defence {}

.stats__info__position__box__attack {}

.stats__record {
    width: 90%;
    position: relative;
    top: 310px;
    z-index: 3;
}

.stats__record__header {}

.stats__record__header__season {
    background-color: var(--light-loyal-blue);
    color: var(--white);
    border-radius: 8px;
}

.stats__record__header__title {
    font-weight: bold;
    color: var(--dark-liver);
}

.stats__record__list {
    width: 85%;
    gap: 18px 29px;
}

.stats__record__item {
    color: var(--dark-liver);
    background-color: var(--white);
    flex: 0 0 24%;
    max-width: 24%;
    border: 1px solid var(--mercury);
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.39);
}

.stats__record__item__title {
    font-size: 13px;
    text-align: left;
}

.stats__record__item__point {
    text-align: right;
    font-family: 'Agency FB Bold', arial;
    font-size: 22px;
}

.stats__images {
    width: 85%;
    position: relative;
    top: 330px;
    margin-top: 29px;
    gap: 9px 0;
}

.stats__images__item:nth-child(n) {
    flex: 0 0 31%;
    max-width: 31%;
}

.stats__images__item:first-child {
    flex: 0 0 40%;
    max-width: 40%;
}

.stats__images__item:nth-child(2) {
    flex: 0 0 57%;
    max-width: 57%;
    text-align: right;
}

.stats__more {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: relative;
    top: 80%;
    z-index: 10;
}

.stats__more__btn {
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
}