@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);

/* contents */

.contents {}


/* streaming_and_chatting */

.streaming_and_chatting {
    flex: 0 0 66.3%;
}


/* streaming */

.streaming {}

.video_player {
    width: 100%;
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.video_player__video {
    width: 100%;
    cursor: pointer;
}

.video_player__controls {
    display: flex;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.3s;
    flex-wrap: wrap;
    background: linear-gradient(transparent, var(--black));
}

.video_player__controls__left {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video_player__controls__right {
    display: flex;
    align-items: center;
}

.video_player:hover .video_player__controls {
    transform: translateY(0);
}

.video_player__controls__play_button,
.video_player__controls__volume_button,
.video_player__controls__setting_button,
.video_player__controls__full_content_button,
.video_player__controls__full_screen_button {
    border: none;
    background: var(--transparent);
    color: var(--white);
}

.video_player__controls__play_button__icon {
    font-size: 24px;
}

.video_player__controls__setting_button__icon,
.video_player__controls__full_content_button__icon,
.video_player__controls__full_screen_button__icon {
    font-size: 18px;
}

.video_player__controls__volume [type="range"] {
    width: 100px;
    height: 1.5em;
    margin: 0;
    padding: 0;
    background: var(--transparent);
    outline: none;
}

.video_player__controls__volume [type="range"],
.video_player__controls__volume [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.video_player__controls__volume [type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    background: var(--white);
}

.video_player__controls__volume [type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    background: var(--white);
}

.video_player__controls__volume {
    display: flex;
}

.video_player__controls__volume_button {}

.video_player__controls__volume_button__icon {
    font-size: 20px;
}

.video_player__controls__volume__panel {
    width: 0px;
    position: relative;
    transition: width .2s;
    overflow: hidden;
}

.video_player__controls__volume__panel .input-div {
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.video_player__controls__volume__panel .input-div .volume-input-div {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--dark-liver);
}

.video_player__controls__volume__panel .input-div .volume-input-div input {
    position: absolute;
    top: -10px;
    cursor: pointer;
}

.video_player__controls__volume__panel .input-div .volume-input-div .volume-progress {
    width: 100px;
    height: 100%;
    background: var(--white);
}

.video_player__preferences {
    display: none;
    width: 30%;
    max-width: 400px;
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 100;
    margin-right: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.video_player__preferences.active {
    display: block;
}

.video_player__preferences__item {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    border: none;
    background: transparent;
    border-radius: 8px;
}

.video_player__preferences__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.video_player__preferences__item__title {
    float: left;
    color: var(--spanish-gray);
    font-size: 14px;
}

.video_player__preferences__item__icon {
    float: right;
    color: var(--dark-gray);
}

.video_player__preferences__item__text {
    float: right;
    color: var(--white);
}

.video_player__resolution__setting,
.video_player__playback_speed__setting {
    display: none;
    width: 30%;
    max-width: 400px;
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 100;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.video_player__resolution__setting.active,
.video_player__playback_speed__setting.active {
    display: block;
}

.video_player__resolution__setting__header,
.video_player__playback_speed__setting__header {}

.video_player__resolution__setting__previous,
.video_player__playback_speed__setting__previous {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    color: var(--white);
    text-align: left;
    border: none;
    background: transparent;
    border-radius: 8px;
}

.video_player__resolution__setting__previous__icon,
.video_player__playback_speed__setting__previous__icon {
    color: var(--dark-gray);
}

.video_player__resolution__setting__body,
.video_player__playback_speed__setting__body {}

.video_player__resolution__setting__item,
.video_player__playback_speed__setting__item {
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
    color: var(--white);
    text-align: left;
    border: none;
    background: transparent;
    border-radius: 8px;
}

.video_player__resolution__setting__item.active,
.video_player__playback_speed__setting__item.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.video_player__resolution__setting__previous:hover,
.video_player__resolution__setting__item:hover,
.video_player__playback_speed__setting__previous:hover,
.video_player__playback_speed__setting__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.video_player__close {
    display: none;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 100;
    font-size: 40px;
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.video_player.active .video_player__close {
    display: block;
}

.video_player__close:hover {
    transform: scale(1.1);
}

.streaming__summary {}

.streaming__summary__etc {}

.streaming__summary__etc__live_icon {
    width: 73px;
}

.streaming__summary__etc__views {
    font-size: 14px;
    vertical-align: middle;
    color: var(--princeton-orange);
}

.streaming__summary__etc__views__image {
    width: 18px;
}

.streaming__summary__etc__views__text {}

.streaming__summary__etc__time {}

.streaming__summary__etc__time__text {
    vertical-align: middle;
    font-size: 14px;
}

.streaming__summary__header {}

.streaming__summary__header__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-charcoal);
}

.streaming__summary__header__gap {
    width: 2px;
    height: 16px;
    background-color: var(--dark-charcoal);
}

.streaming__summary__header__league {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-charcoal);
}

.streaming__summary__info {
    font-size: 14px;
    color: var(--granite-gray);
}

.streaming__summary__info__today {}

.streaming__summary__info__gap {
    width: 1px;
    height: 12px;
    background-color: var(--granite-gray);
}

.streaming__summary__info__stadium {}

.streaming__summary__info__start {}

.streaming__summary__service {}

.streaming__summary__service__button {
    vertical-align: middle;
    cursor: pointer;
    color: var(--dark-silver);
    transition: all 0.3s;
}

.streaming__summary__service__button__image {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
}

.streaming__summary__service__like__image {
    background-image: url("/static/images/action_live/streaming__bottom__like__box.png");
}

.streaming__summary__service__like.active .streaming__summary__service__like__image {
    background-image: url("/static/images/action_live/streaming__bottom__like__box__active.png");
}

.streaming__summary__service__button.active .streaming__summary__service__like__text,
.streaming__summary__service__button.active .streaming__summary__service__add_to_playlist__text {
    color: var(--princeton-orange);
}

.streaming__summary__service__button__text {
    font-size: 14px;
}

.streaming__summary__service__share__image {
    background-image: url("/static/images/action_live/streaming__bottom__share__box.png");
}

.streaming__summary__service__share.active .streaming__summary__service__share__image {
    color: var(--dark-silver);
}

.streaming__summary__service__add_to_playlist__image {
    background-image: url("/static/images/action_live/streaming__bottom__add_to_playlist__box.png");
}

.streaming__summary__service__add_to_playlist.active .streaming__summary__service__add_to_playlist__image {
    background-image: url("/static/images/action_live/streaming__bottom__add_to_playlist__box__active.png");
}


/* chatting */

.chatting {
    margin-top: 30px;
    background-color: var(--bright-gray);
}

.contents__header {
    height: 47px !important;
    line-height: 47px !important;
}

.contents__header__circle {
    width: 10px;
    vertical-align: baseline;
}

.contents__header__title {
    font-size: 16px;
    color: var(--dark-charcoal);
}

.chatting__header__toggle {
    display: inline-block;
    width: 50px;
    text-align: center;
    transform: translateY(40%);
    transition: all 0.3s;
}

.chatting__header__toggle__image {
    width: 20px;
    vertical-align: baseline;
    transition: all 0.3s;
    transform: rotate(180deg);
}

.chatting__header__toggle.active .chatting__header__toggle__image {
    transform: rotate(0deg);
}

.chatting__header__toggle .chatting__header__toggle__image {}

.chatting__contents {
    position: relative;
    background-color: var(--white);
    transition: all 0.3s;
}

.chatting__contents.show {
    display: block;
}

.chatting__contents.hide {
    display: none;
}

.chatting__list {
    width: 90%;
    height: 200px;
    overflow: auto;
}

.chatting__list::-webkit-scrollbar {
    width: 10px;
}

.chatting__list::-webkit-scrollbar-track {
    width: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--white);
    background-color: var(--silver);
}

.chatting__list::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border-radius: 10px;
}

.chatting__item {}

.chatting__item__header {
    vertical-align: top;
}

.chatting__item__header__user_icon {
    width: 40px;
}

.chatting__item__header__user_id {
    font-size: 12px;
    color: var(--granite-gray);
}

.chatting__item__box {}

.chatting__item__box__user_text {
    font-size: 13px;
    color: var(--dark-liver);
    border-radius: 15px;
    background-color: var(--lavender);
}

.chatting__item__box__user_text:first-child {
    border-radius: 0 15px 15px 15px;
}

.my_chatting__item {}

.my_chatting__item__box {}

.my_chatting__item__box__user_text {
    font-size: 14px;
    color: var(--white);
    border-radius: 15px;
    background-color: var(--light-loyal-blue);
}

.my_chatting__item__box__user_text:first-child {
    border-radius: 15px 0 15px 15px;
}

.my_chatting__item__header {
    vertical-align: top;
}

.my_chatting__item__header__user__id {
    font-size: 14px;
    color: var(--granite-gray);
    vertical-align: top;
    margin-top: 14px;
}

.my_chatting__item__header__user_icon {
    width: 40px;
}

.chatting__input {
    border-radius: 10px !important;
}

.chatting__input__container {
    width: 90%;
    vertical-align: middle;
    background-color: var(--platinumr);
    border-radius: 18px !important;
}

.chatting__input__text {
    font-size: 14px;
    border: none !important;
    border-radius: 18px !important;
    background-color: var(--platinum);
}

.chatting__input__text.emoji-wysiwyg-editor {
    height: 45px !important;
    padding: 15px 15px;
    overflow: hidden;
}

.emoji-picker-icon {
    top: 10px !important;
    font-size: 26px !important;
}

.chatting__input__registration {}

.chatting__input__registration__image {
    width: 40px;
    cursor: pointer;
}


/* chatting login modal */

.chatting__login_modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.chatting__login_modal__box {
    width: 180px;
    height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: var(--anti-flash-white);
}

.chatting__login_modal__box__header {
    font-size: 12px;
    color: var(--gray);
}

.chatting__login_modal__box__body {}

.chatting__login_modal__login_button {
    width: 54px;
    height: 23px;
    background-color: var(--gray);
    color: var(--white);
    font-size: 10px;
}

.chatting__login_modal__close_button {
    width: 54px;
    height: 23px;
    background-color: var(--philippine-silver);
    color: var(--white);
    font-size: 10px;
}


/* side */

.side {
    flex: 0 0 31.3%;
}


/* controls */

.controls {}

.controls__item {
    flex: 0 0 26%;
    max-width: 26%;
    border: 2px solid var(--anti-flash-white);
    cursor: pointer;
}

.controls__item.active {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__item:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__item__image {
    width: 40%;
    margin: 1rem auto 0rem;
}

.controls__item__text {
    margin: 0.7rem auto 0.5rem;
    font-size: 14px;
    color: var(--dark-liver);
}


/* side__item */

.side__item {
    background-color: var(--anti-flash-white);
    margin-top: 30px !important;
}


/* setting */

.setting {
    display: none;
}

.setting.active {
    display: block;
}

.setting__header {
    position: relative;
    max-height: 56px;
}

.setting__header__circle {}

.setting__header__title {}

.setting__all__button__label {
    position: absolute;
    left: 141px;
    top: 17px;
    z-index: 1;
    font-size: 10px;
    line-height: initial;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.setting__all__button__label.active {
    left: 127px;
}

.setting__all__button {
    width: 45px;
    height: 20px;
    position: relative;
    top: 5px;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.effects__all__button:checked {
    background: var(--princeton-orange);
}

.prediction__all__button:checked {
    background: var(--light-loyal-blue);
}

.player_info__all__button:checked {
    background: var(--medium-purple);
}

.setting__all__button::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.setting__all__button:checked::before {
    left: 26px;
}

.setting__alert {
    width: 20px;
    margin-top: 0.8rem;
    cursor: pointer;
}

.setting__description {
    display: none;
    width: 200px;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 3;
}

.setting__alert:hover+.setting__description {
    display: block;
}

.setting__contents {}

.setting__list {
    min-height: 220px;
    max-height: 220px;
    background: var(--white);
    box-shadow: 0px -4px 4px rgb(0 0 0 / 13%);
}

.setting__list__left {}

.setting__list__right {}

.setting__item {}

.setting__item__header {
    line-height: 1.2;
}

.setting__item__label {
    font-size: 14px;
    color: var(--dove-gray);
    vertical-align: top;
}

.prediction .setting__item__label {
    font-size: 11px;
}

.prediction__custom__button__label {
    font-size: 14px;
}

.prediction__custom__description {
    font-size: 8px;
    color: var(--philippine-silver);
}

.setting__list__title {
    font-size: 14px;
    color: var(--dove-gray);
}

.setting__item__button {
    width: 50px;
    height: 25px;
    position: relative;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.prediction__item__button {
    width: 35px;
    height: 18px;
}

.prediction__custom__button {
    width: 50px;
    height: 25px;
    position: relative;
    appearance: none;
    background: var(--spanish-gray);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.effects__item__button:checked {
    background: var(--princeton-orange);
}

.prediction__item__button:checked {
    background: var(--light-loyal-blue);
}

.player_info__item__button:checked {
    background: var(--medium-purple);
}

.setting__item__button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction__item__button::before {
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction__custom__button::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.setting__item__button:checked::before {
    left: 27px;
}

.prediction__item__button:checked::before {
    left: 18px;
}

.prediction__custom__button:checked::before {
    left: 27px;
}


/* real_time_player */

.real_time_player {}

.real_time_player__header {}

.real_time_player__item {
    width: 100%;
    height: 44.7px;
    background: var(--white);
    position: relative;
    box-shadow: 0px -4px 4px rgb(0 0 0 / 13%);
}

.real_time_player__item__image {
    width: 80px;
    position: absolute;
    left: 40px;
    bottom: 0;
}

.real_time_player__item__name {
    position: absolute;
    top: 7px;
    left: 120px;
    line-height: 1;
}

.real_time_player__item__name__kor {
    display: block;
    color: var(--dark-liver);
}

.real_time_player__item__name__eng {
    font-size: 10px;
    color: var(--spanish-gray);
}

.real_time_player__item__team {
    position: absolute;
    top: 8px;
    right: 30px;
}

.real_time_player__item__team__title {
    font-size: 12px;
    color: var(--dove-gray);
}

.real_time_player__item__team__image {
    width: 35px;
}


/* stats */

.stats {
    height: 355px;
    position: relative;
    background-image: url("/static/images/action_live/stats__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.stats__header {}

.stats__contents {
    width: 95%;
    height: 87%;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.stats__contents::-webkit-scrollbar {
    width: 10px;
}

.stats__contents::-webkit-scrollbar-track {
    margin-bottom: 20px;
}

.stats__contents::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border-radius: 10px;
}

.stats__player__image {
    width: 80%;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;
}

.stats__back_logo__image {
    width: 50%;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;
}

.stats__buttons {
    position: relative;
    top: 10px;
    z-index: 10;
}

.stats__buttons__share__image {
    width: 40px;
    cursor: pointer;
}

.stats__buttons__item {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.stats__buttons__bookmark {
    background-image: url("/static/images/action_live/stats__btns__bookmark.png");
}

.stats__buttons__bookmark.active {
    background-image: url("/static/images/action_live/stats__btns__bookmark__active.png");
}

.stats__info {
    position: absolute;
    left: 65%;
    top: 70px;
    z-index: 2;
}

.stats__info__logo__image {
    width: 50px;
}

.stats__info__name {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-liver);
}

.stats__info__position {}

.stats__info__position__number__image {
    width: 40px;
}

.stats__info__position__box {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

.stats__info__position__box__defence {}

.stats__info__position__box__attack {}

.stats__record {
    width: 90%;
    position: relative;
    top: 310px;
    z-index: 3;
}

.stats__record__header {}

.stats__record__header__season {
    background-color: var(--light-loyal-blue);
    color: var(--white);
    border-radius: 8px;
}

.stats__record__header__title {
    font-weight: bold;
    color: var(--dark-liver);
}

.stats__record__list {
    width: 85%;
    gap: 18px 29px;
}

.stats__record__item {
    color: var(--dark-liver);
    background-color: var(--white);
    flex: 0 0 24%;
    max-width: 24%;
    border: 1px solid var(--mercury);
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.39);
}

.stats__record__item__title {
    font-size: 13px;
    text-align: left;
}

.stats__record__item__point {
    text-align: right;
    font-family: 'Agency FB Bold', arial;
    font-size: 22px;
}

.stats__images {
    width: 85%;
    position: relative;
    top: 330px;
    margin-top: 29px;
    gap: 9px 0;
}

.stats__images__item:nth-child(n) {
    flex: 0 0 31%;
    max-width: 31%;
}

.stats__images__item:first-child {
    flex: 0 0 40%;
    max-width: 40%;
}

.stats__images__item:nth-child(2) {
    flex: 0 0 57%;
    max-width: 57%;
    text-align: right;
}

.stats__more {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: relative;
    top: 80%;
    z-index: 10;
}

.stats__more__button {
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
}


/* modal */

.share_modal {}

.modal-dialog {
    margin: 5rem auto !important;
}

.share_modal__content {
    background: var(--platinum);
}

.modal-header {
    border-bottom: none;
}

.share_modal__close {
    padding: 1rem 2rem 0 0 !important;
    font-size: 35px;
}

.share_modal__link {
    width: 90%;
    height: auto;
    padding: 12px;
    border-radius: 12px;
    background: var(--white);
}

.share_modal__link__text {
    width: 85%;
    font-size: 18px;
    color: var(--dove-gray);
    vertical-align: middle;
    text-overflow: ellipsis;
    background: none;
    border: none;
}

.share_modal__link__copy_button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: var(--princeton-orange);
}

.share_modal__list {
    width: 70%;
}

.share_modal__item {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--dove-gray);
}

.share_modal__item__icon {
    width: 50px;
}


/* 기획 버전 login modal */


/* 
.login__modal__container {
    position: absolute;
    padding-right: 0;
    transition: all 0.3s linear;
} */


/* .login__modal__container.show+.login__modal__backdrop {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
    visibility: visible;
    transition: all 0.3s linear;
} */


/* .login__modal__box {
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) !important;
} */


/* 
.login__modal__contents {
    width: 180px;
    height: 84px;
}

.login__modal__contents__text {
    text-align: center;
    font-size: 12px;
}

.login__modal__btns {
    border-top: none;
}

.login__modal__yes,
.login__modal__no {
    min-width: 54px;
    padding: 0;
    font-size: 10px;
    color: var(--white)
}

.login__modal__no {
    background-color: var(--chatting-input-bg);
} */


/* 
.modal-backdrop:not(.login__modal__backdrop) {
    display: none !important;
} */


/* .login__modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    visibility: hidden;
    transition: all 0.3s linear;
} */


/* .modal-backdrop.show {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
} */


/* .modal-open {
    padding-right: 0px !important;
    overflow: auto;
} */