/* index */

:root {
    /* bg */
    --black: #000000;
    --light-loyal-blue: #333FFA;
    --dove-gray: #666666;
    --granite-gray: #606060;
    --medium-purple: #8579D8;
    --chinese-silver: #C9C9C9;
    --silver: #CCCCCC;
    --lavender: #E6E2FD;
    --platinum: #E6E6E6;
    --bright-gray: #EDEDED;
    --princeton-orange: #FE7926;
    --anti-flash-white: #F2F2F2;
    --white: #ffffff;
    --mercury: #E5E5E5;
    /* text color */
    --black: #000000;
    --dark-charcoal: #333333;
    --dark-liver: #4D4D4D;
    --granite-gray: #606060;
    --dove-gray: #666666;
    --dark-silver: #707070;
    --gray: #808080;
    --spanish-gray: #999999;
    --dark-gray: #aaaaaa;
    --silver-chalice: #B1B1B1;
    --philippine-silver: #B3B3B3;
    --anti-flash-white: #F2F2F2;
    --seashell: #F0F0F0;
    --white: #ffffff;
    /*  share icon */
    --facebook: #1877F2;
    --github: #00405d;
    --google: #db4437;
    --instagram: #E4405F;
    --line: #00C300;
    --messenger: #0099FF;
    --slack: #3AAF85;
    --twitter: #1DA1F2;
    /* etc */
    --transparent: transparent;
}

* {
    font-family: "Noto Sans KR", sans-serif;
}

.border-radius {
    border-radius: 26.785px;
}

.shadow {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}


/* top__gnb */

.top__gnb {
    height: 40px;
    font-size: 14px;
    color: var(--dove-gray);
    background-color: var(--bright-gray);
}

.top__gnb__wrap {}

.top__gnb__list {}

.top__gnb__item {
    padding: 0 !important;
}

.top__gnb__item__gap {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--dove-gray);
}

.top__gnb__item__link {
    padding: 0 !important;
}


/* header (gnb) */

.header {
    height: auto;
    font-weight: bold;
    background-color: var(--white);
    border-radius: 0 0 26.785px 26.785px;
}

.gnb {
    z-index: 10;
}

.gnb__logo {}

.gnb__logo__img {
    width: 151.4px;
}

.gnb__toggler {}

.gnb__toggler__icon {}

.gnb__wrap {}

.gnb__list {
    gap: 0 30px;
}

.gnb__item {
    font-size: 18px;
    color: var(--dove-gray);
}

.gnb__item__link {}


/* main */

.main {}


/* container */

.container {
    width: 1200px;
    max-width: 1200px;
}


/* footer */

.footer {
    margin-top: 100px;
}

.fnb__list {
    height: 90px;
    font-size: 18px;
    color: var(--gray);
}

.fnb__item__link {
    color: var(--gray);
}

.company__info {
    height: 90px;
    font-size: 14px;
    color: var(--spanish-gray);
}

.company__info__gap {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--spanish-gray);
}


/* 반응형 */

@media screen and (max-width: 1200px) {
    .gnb__logo__img {
        width: 120px;
    }
    .gnb__list {
        gap: 0 10px;
    }
    .container {
        width: 900px;
    }
}

@media screen and (max-width: 976px) {
    .container {
        width: 90%;
    }
    .fnb__list {
        width: 70% !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .fnb__list {
        width: 90% !important;
    }
    .company__info {
        width: 90% !important;
        margin-top: 30px !important;
    }
    .company__title {
        text-align: center !important;
    }
    .company__info__gap {
        display: none;
    }
    .company__ceo {
        text-align: center !important;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}