.player__info {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("/static/images/fan_page/detail/player__info__bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-weight: bold;
}

.player__info__name {
    position: absolute;
    top: 80px;
    color: var(--granite-gray);
}

.player__info__name__eng {
    display: block;
    font-size: 22px;
}

.player__info__name__kor {
    display: block;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 20px;
}

.player__info__team {
    position: absolute;
    top: 250px;
    /* width: 200px; */
    color: var(--dark-liver);
}

.player__info__team__logo {
    width: 80px;
}

.player__info__team__name {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.player__info__position {
    position: absolute;
    top: 250px;
    left: 250px;
    /* width: 150px; */
    color: var(--dark-liver);
}

.player__info__position__left {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.player__info__position__number {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: var(--light-loyal-blue);
    color: var(--white);
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.player__info__position__right {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.player__info__position__defence {
    display: inline-block;
    font-size: 20px;
}

.player__info__position__attack {
    display: block;
    font-size: 20px;
}

.player__info__etc {
    position: absolute;
    top: 375px;
}

.player__info__etc__item {
    font-size: 18px;
}

.player__info__etc__item__label {
    display: inline-block;
    width: 100px;
    color: var(--dove-gray);
}

.player__info__etc__item__text {
    color: var(--dark-liver);
}

.player__info__btns {
    position: absolute;
    top: 120px;
    left: 45%;
}

.player__info__btns__bookmark {}

.player__info__btns__bookmark__img {
    width: 35px;
}

.player__info__btns__bookmark__text {
    margin-left: 10px;
    color: var(--princeton-orange);
    vertical-align: middle;
    font-size: 14px;
}

.player__info__btns__like {}

.player__info__btns__like__img {
    width: 35px;
}

.player__info__btns__like__text {
    margin-left: 10px;
    color: var(--princeton-orange);
    vertical-align: middle;
    font-size: 14px;
}


/* player__season_record */

.player__season_record {
    position: relative;
    top: -45px;
}

.player__season_record__table {
    position: relative;
    z-index: 1;
    width: 90%;
}

.player__season_record__table__caption {
    caption-side: initial;
    position: absolute;
    top: -65px;
}

.player__season_record__table__caption__item {
    display: inline-block;
    width: 110px;
    height: 40px;
    background: var(--bright-gray);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--dark-liver);
}

.player__season_record__table__caption__season {
    color: var(--white);
    background: var(--dark-liver);
}

.player__season_record__table__caption__batting_average {}

.player__season_record__table__caption__batting_average__ranking,
.player__season_record__table__caption__runs_batted_in__ranking {
    font-weight: bold;
    font-size: 18px;
    color: var(--princeton-orange);
}

.player__season_record__table__header {
    border: none;
    color: var(--gray);
}

.player__season_record__table__body {}

.player__season_record__table__body__tr {}

.player__season_record__table__bg {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 121px;
    background: var(--white);
}

.player__season_record__table td,
.player__season_record__table th {
    border-top: none;
}


/* player__recent */

.player__recent {
    position: relative;
    top: 40px;
}

.player__recent__table {
    position: relative;
    z-index: 1;
    width: 90%;
}

.player__recent__table__caption {
    caption-side: initial;
    position: absolute;
    top: -82px;
}

.player__recent__table__caption__item {
    display: inline-block;
    width: 110px;
    height: 40px;
    background: var(--dark-liver);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--white);
}

.player__recent__table__header {
    border: none;
    color: var(--gray);
}

.player__recent__table__body {}

.player__recent__table__body__tr {}

.player__recent__table__bg {
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 355px;
    background: var(--seashell);
}

.player__recent__table td,
.player__recent__table th {
    border-top: none;
}


/* highlight */

.player__highlight {
    margin-top: 150px;
}

.player__highlight__header {}

.player__highlight__header__circle {
    width: 9px;
}

.player__highlight__header__title {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-liver);
}

.player__highlight__contents {
    margin-top: 35px !important;
    gap: 67.3px 29.6px;
}

.player__highlight__item {
    padding: 0;
    flex: 0 0 23.14%;
}

.player__highlight__item__wrap {
    width: 100%;
}

.player__highlight__item__thumbnail {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.player__highlight__item__img {
    width: 100%;
}

.player__highlight__item__length {
    position: absolute;
    right: 14px;
    bottom: 12px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--dove-gray);
    border-radius: 26.785px;
}

.player__highlight__item__body {}

.player__highlight__item__title {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-charcoal);
    word-break: keep-all;
    word-wrap: break-word;
    cursor: pointer;
}

.player__highlight__item__box {
    font-size: 16px;
    color: var(--gray);
}

.player__highlight__item__box__views {}

.player__highlight__item__box__views__icon {}

.player__highlight__item__box__gap {
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: var(--philippine-silve);
}

.player__highlight__item__box__date {}

.player__highlight__item__more {
    flex: 0 0 100%;
    max-width: 100%;
}

.player__highlight__item__more__btn {}

.player__highlight__item__more__btn__text {
    font-size: 16px;
    color: var(--gray);
}

.player__highlight__item__more__btn__img {
    width: 30px;
}


/* player__gallery */

.player__gallery {
    margin-top: 75px;
}

.player__gallery__header {}

.player__gallery__header__circle {
    width: 9px;
}

.player__gallery__header__title {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    color: var(--dove-gray);
}

.post-slider {
    width: 100%;
    margin: 0px auto;
    position: relative;
    top: 50%;
    /* transform: translateY(-50%); */
}

.slick-list {
    padding: 0 !important;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    font-size: 2em;
    color: gray;
    cursor: pointer;
    z-index: 10;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 2em;
    color: gray;
    cursor: pointer;
    z-index: 10;
}

.post-slider .post-wrapper {
    width: 100%;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 240px;
    height: 240px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    /* border-radius: 5px; */
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
}

.slick-center {
    transform: scale(1.5);
    width: 300px !important;
    height: 300px !important;
}


/* 
.mainSlide {
    position: relative;
}

.mainSlide .post {
    
}

.mainSlide .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: gray;
    cursor: pointer;
}

.mainSlide .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: gray;
    cursor: pointer;
}

.post img {
    width: 240px;
    height: 240px;
} */


/* .post-slider {
    border: 1px solid red;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    border: 1px dashed red;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 350px;
    display: inline-block;
    background: gray;
} */


/* .slider {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider li {
    width: 240px !important;
    height: 240px !important;
}

.slider li.active {
    width: 303px !important;
    height: 303px !important;
}

.box {
    width: 300px;
    height: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.slide-img {
    width: 100%;
    height: 100%;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
} */


/* player__news_and_comment */

.player__news_and_comment {
    margin-top: 100px;
}


/* player__news */

.player__news {}

.player__news__header {}

.player__news__header__circle {
    width: 9px;
}

.player__news__header__title {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    color: var(--dove-gray);
}

.player__news__contents {}

.player__news__item {
    margin-bottom: 39px;
}

.player__news__item__left {}

.player__news__item__left__img {
    width: 160px;
}

.player__news__item__right {
    vertical-align: middle;
    color: var(--spanish-gray);
    font-size: 14px;
}

.player__news__item__right__title {
    font-size: 18px;
    color: var(--dark-liver);
}

.player__news__item__right__source {}

.player__news__item__right__gap {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--spanish-gray);
}

.player__news__item__right__date {}

.player__news__item__more__btn {}

.player__news__item__more__btn__text {
    font-size: 16px;
    color: var(--gray);
}

.player__news__item__more__btn__img {
    width: 30px;
}


/* player__comment */

.player__comment {}

.player__comment__header {}

.player__comment__header__circle {
    width: 9px;
}

.player__comment__header__title {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    color: var(--dove-gray);
}

.player__comment__contents {
    height: 840px;
}

.player__comment__list {
    width: 90%;
    height: 700px;
    overflow: auto;
}

.player__comment__list::-webkit-scrollbar {
    width: 10px;
}

.player__comment__list::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border-radius: 10px;
}

.player__comment__item {}

.player__comment__item__header {
    vertical-align: top;
}

.player__comment__item__header__user__icon {
    width: 40px;
}

.player__comment__item__header__user__id {
    font-size: 12px;
    color: var(--granite-gray);
}

.player__comment__item__box {}

.player__comment__item__box__user__text {
    font-size: 13px;
    color: var(--dark-liver);
    background-color: var(--lavender);
    border-radius: 15px;
}

.player__comment__item__box__user__text:first-child {
    border-radius: 0 15px 15px 15px;
}

.player__my_comment__item {}

.player__my_comment__item__header {
    vertical-align: top;
}

.player__my_comment__item__header__user__id {
    font-size: 14px;
    color: var(--granite-gray);
    vertical-align: top;
    margin-top: 14px;
}

.player__my_comment__item__box__text {
    font-size: 14px;
    color: var(--white);
    background-color: var(--light-loyal-blue);
    border-radius: 15px;
}

.player__my_comment__item__box__text:first-child {
    border-radius: 15px 0 15px 15px;
}

.player__comment__input {
    width: 90%;
    border-radius: 10px !important;
}

.player__comment__input__container {
    width: 80%;
    background-color: var(--platinum);
    border-radius: 18px !important;
    vertical-align: middle;
}

.player__comment__input__text {
    font-size: 14px !important;
    letter-spacing: 1px;
    background-color: var(--platinum);
    border: none !important;
    border-radius: 18px !important;
}

.player__comment__input__text.emoji-wysiwyg-editor {
    height: 80px !important;
    line-height: 1.5 !important;
    padding: 20px 50px 20px 20px;
    overflow: hidden;
    word-break: keep-all;
}

.emoji-picker-icon {
    top: 25px !important;
    right: 15px !important;
    font-size: 30px !important;
}

.player__comment__input__registration {}

.player__comment__input__registration__img {
    width: 60px;
    cursor: pointer;
}