/* contents */

.contents {}

.contents__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--dove-gray);
}


/* search */

.search {
    background-color: var(--bright-gray);
    padding: 30px 80px;
}


/* team__list */

.search__team__list {
    background-color: var(--white);
}

.search__team__item {
    position: relative;
    cursor: pointer;
}

.search__team__item:after {
    content: '';
    height: 70%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 15%;
    background-color: var(--silver);
}

.search__team__item:last-child::after {
    display: none;
}

.search__team__item__logo__conatiner {
    min-height: 40px;
    max-height: 40px;
    line-height: 2.5;
}

.search__team__item__logo {
    width: 50px;
    height: auto;
}

.search__team__item:first-child .team__item__logo {
    width: 40px;
    height: auto;
}

.search__team__item__title__container {}

.search__team__item__title {
    color: var(--dove-gray);
}

.search__team__item.active .search__team__item__title {
    background-color: var(--dove-gray);
    color: var(--white);
}


/* position */

.search__position {
    background-color: var(--white);
    width: 300px;
    text-align: center;
}

.search__position__item {
    position: relative;
}

.search__position__item:after {
    content: '';
    height: 60%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 20%;
    background-color: var(--silver);
}

.search__position__item:last-child::after {
    display: none;
}

.search__position__item__text {
    cursor: pointer;
}

.search__position__item.active .search__position__item__text {
    background-color: var(--dove-gray);
    color: var(--white);
}


/* consonants */

.search__consonants {
    width: 700px;
    background-color: var(--white);
    text-align: center;
}

.search__consonants__item {
    position: relative;
    font-size: 18px;
    cursor: pointer;
}

.search__consonants__item__text {
    display: inline-block;
    width: 27px;
    height: 27px;
}

.search__consonants__item.active .search__consonants__item__text {
    background-color: var(--dove-gray);
    color: var(--white);
}

.search__consonants__item:after {
    content: '';
    height: 60%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 20%;
    background-color: var(--silver);
}

.search__consonants__item:last-child::after {
    display: none;
}


/* input */

.search__input {
    width: 300px;
    background-image: url("/static/images/fan_page/input__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.search__input__text {
    border: none;
    width: 240px;
    height: 30px;
    margin: 5px 0 0 5px;
    font-size: 14px;
}

.search__input__button {}

.search__input__button__image {
    width: 20px;
    vertical-align: top;
}

.search::after {
    display: block;
    content: '';
    clear: both;
}


/* bookmark */

.bookmark_player {}

.bookmark_player__header {}

.bookmark_player__header__image {
    width: 9px;
}

.bookmark_player__header__title {
    font-size: 24px;
    color: var(--dark-liver);
    vertical-align: middle;
}

.players__list {
    gap: 37px;
}

.player__item {
    position: relative;
    height: 210px;
    flex: 0 0 17.53%;
    max-width: 17.53%;
}

.player__item__header {
    position: relative;
    top: 13px;
    left: 13px;
    width: 90%;
    height: 15%;
    z-index: 10;
}

.player__item__header__number {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: var(--white);
    z-index: 10;
}

.player__item__header__name {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-liver);
    z-index: 10;
}

.player__item__header__team {
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 14px;
    color: var(--gray);
    z-index: 10;
}

.player__item__header__overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
}

.player__item__image {
    position: absolute;
    top: 0;
    width: 100%;
}

.player__item__bookmark_btn__container {
    position: absolute;
    bottom: 13px;
    right: 13px;
    width: 17%;
    height: 72%;
    z-index: 0;
}

.player__item__bookmark_btn__container.active {
    background-image: url('/static/images/fan_page/bookmark__container__active.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.player__item__bookmark_btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-image: url('/static/images/fan_page/bookmark_btn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.player__item__bookmark_btn.active {
    background-image: url('/static/images/fan_page/bookmark_btn__active.png');
}

.bookmark__item__bookmark_btn {
    cursor: default !important;
    border: none !important;
    background-color: transparent;
}


/* general_players */

.general_players {
    /* players는 일단 bookmark 영역과 같은 코드로 적용 */
}

.general_players__more {
    text-align: center;
}

.general_players__more__btn {}

.general_players__more__btn__text {
    font-size: 20px;
    color: var(--gray);
}

.general_players__more__btn__image {
    width: 40px;
}