{% extends "base_generic.html"%} {% load static %} {% block css %}
<link href="{% static 'css/fan_page.css' %}" rel="stylesheet" />
<link href="{% static 'css/fan_page_detail.css' %}" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="{% static 'emoji/css/emoji.css' %}" rel="stylesheet" />{% endblock css %} {% block content %}

<div class="container container-md container-sm p-0 pt-4">
    <div class="contents">
        <h2 class="contents__title">팬페이지</h2>

        <div class="search border-radius shadow mt-4">

            <div class="team__list row h-100 justify-content-around border-radius shadow mx-0 px-3">
                <div class="team__item col h-100 my-auto px-2 py-3 text-center active">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kbo.png' %}" alt="logo__kbo" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">전체</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__nc.png' %}" alt="logo__nc" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">NC</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__doosan.png' %}" alt="logo__doosan" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">두산</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kt.png' %}" alt="logo__kt" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">KT</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__lg.png' %}" alt="logo__lg" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">LG</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kiwoom.png' %}" alt="logo__kiwoom" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">키움</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__kia.png' %}" alt="logo__kia" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">KIA</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__lotte.png' %}" alt="logo__lotte" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">롯데</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__samsung.png' %}" alt="logo__samsung" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">삼성</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__ssg.png' %}" alt="logo__ssg" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">SSG</span>
                    </div>
                </div>

                <div class="team__item col h-100 my-auto px-2 py-3 text-center">
                    <div class="team__item__logo__conatiner h-50">
                        <img src="{% static 'images\fan_page\logo__hanhwa.png' %}" alt="logo__hanhwa" class="team__item__logo">
                    </div>
                    <div class="team__item__title__container d-block h-50 mt-3">
                        <span class="team__item__title d-inline-block py-1 px-3 border-radius">한화</span>
                    </div>
                </div>
            </div>

            <div class="position row border-radius shadow mx-0 mt-4 px-3">
                <div class="position__item position__all__container col-4 py-1 px-0 active">
                    <span class="position__item__text position__all d-inline-block py-1 px-3 border-radius">전체</span>
                </div>
                <div class="position__item position__pitcher__container col-4 py-1 px-0">
                    <span class="position__item__text position__pitcher d-inline-block py-1 px-3 border-radius">투수</span>
                </div>
                <div class="position__item position__batter__container col-4 py-1 px-0">
                    <span class="position__item__text position__batter d-inline-block py-1 px-3 border-radius">타자</span>
                </div>
            </div>

            <div class="consonants row border-radius shadow mx-0 mt-4 px-3 float-left">
                <div class="consonants__item consonants__giyeok col px-0 py-2 active">
                    <span class="consonants__item__text px-1 border-radius">ㄱ</span>
                </div>
                <div class="consonants__item consonants__nieum col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㄴ</span>
                </div>
                <div class="consonants__item consonants__diguet col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㄷ</span>
                </div>
                <div class="consonants__item consonants__rieul col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㄹ</span>
                </div>
                <div class="consonants__item consonants__mieum col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅁ</span>
                </div>
                <div class="consonants__item consonants__bieup col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅂ</span>
                </div>
                <div class="consonants__item consonants__siot col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅅ</span>
                </div>
                <div class="consonants__item consonants__ieung col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅇ</span>
                </div>
                <div class="consonants__item consonants__jieut col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅈ</span>
                </div>
                <div class="consonants__item consonants__cheiut col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅊ</span>
                </div>
                <div class="consonants__item consonants__kieuk col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅋ</span>
                </div>
                <div class="consonants__item consonants__tieut col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅌ</span>
                </div>
                <div class="consonants__item consonants__pieup col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅍ</span>
                </div>
                <div class="consonants__item consonants__hieut col px-0 py-2">
                    <span class="consonants__item__text px-1 border-radius">ㅎ</span>
                </div>
            </div>

            <div class="input border-radius shadow mx-0 mt-4 float-right">
                <input type="text" class="input__text border-radius px-3" placeholder="선수명을 입력해주세요." />
                <button type="button" class="btn input__button">
                    <img src="{% static 'images\fan_page\search__btn.png' %}" alt="input__button__img" class="input__button__img">
                </button>
            </div>

        </div>

        <div class="player__info mt-5">
            <div class="player__info__name">
                <span class="player__info__name__eng">YANG EUI JI</span>
                <span class="player__info__name__kor">양의지</span>
            </div>

            <div class="player__info__team">
                <img src="{% static 'images\fan_page\detail\logo__nc.png' %}" alt="team__logo" class="player__info__team__logo">
                <span class="player__info__team__name">NC<br>다이노스</span>
            </div>

            <div class="player__info__position">
                <span class="player__info__position__number">#25</span>
                <div class="player__info__position__right">
                    <span class="player__info__position__defence">포수</span>
                    <span class="player__info__position__attack">우투우타</span>
                </div>
            </div>

            <div class="player__info__etc">
                <div class="player__info__etc__birth">
                    <span class="player__info__etc__birth__label">생년월일</span>
                    <span class="player__info__etc__birth__text">1987-06-05</span>
                </div>

                <div class="player__info__etc__build">
                    <span class="player__info__etc__build__label">체격</span>
                    <span class="player__info__etc__build__text">179cm / 85kg / A형</span>
                </div>

                <div class="player__info__etc__native">
                    <span class="player__info__etc__native__label">출신학교</span>
                    <span class="player__info__etc__native__text">송정동초-무등중-진흥고-두산-경찰-두산</span>
                </div>
            </div>

            <div class="player__info__btns">
                <div class="player__info__btns__bookmark">
                    <img src="{% static 'images\fan_page\detail\bookmark.png' %}" alt="player__info__btns__bookmark__img" class="player__info__btns__bookmark__img">
                    <span class="player__info__btns__bookmark__text">즐겨찾기 추가됨</span>
                </div>
                <div class="player__info__btns__like">
                    <img src="{% static 'images\fan_page\detail\like.png' %}" alt="player__info__btns__like__img" class="player__info__btns__like__img">
                    <span class="player__info__btns__like__text">107</span>
                </div>
            </div>

        </div>

        <div class="player__season_record">
            <img src="{% static 'images\fan_page\detail\player__season_record__img.png' %}" alt="player__season_record__img" class="player__season_record__img">
        </div>

        <div class="player__recent mt-3">
            <img src="{% static 'images\fan_page\detail\player__recent__img.png' %}" alt="player__recent__img" class="player__recent__img">
        </div>


        <article class="highlight row mx-0">
            <div class="player__highlight__header ml-3">
                <img src="{% static 'images\fan_page\detail\header_circle.png' %} " alt="player__highlight__header__circle " class="player__highlight__header__circle mr-2">
                <h2 class="player__highlight__header__title">경기 장면 모음</h2>
            </div>

            <div class="highlight__contents row row-cols-xl-4 row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-1 m-0 mt-5 ">
                <div class="highlight__item col ">
                    <div class="highlight__item__wrap m-auto ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__01.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">갈 길 바쁜 NC-KT, 1-1 무승부</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.28</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__02.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">양의지, 선취점 가져오는 2루타</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.27</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__03.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">서진용, 양의지에게 병살 유도하며 추가 실점 방어</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.27</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__04.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">SSG, NC에 역전승 거두며 5위</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.27</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__05.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">NC, KT 잡아내며 5강 희망 불씨</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.26</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__06.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">'양의지 스리런포'NC, 팽팽한 투수전 끝에 KIA에 승리</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.24</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__07.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">양의지, 모두를 긴장하게 만든 큼지막한 타구</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.22</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="highlight__item col ">
                    <div class="highlight__item__wrap ">
                        <div class="highlight__item__thumbnail " onclick="window.location.href='#' ">
                            <img src="{% static 'images\main\highlight__item__img__08.png' %} " alt="highlight_01 " class="highlight__item__img " />
                            <span class="highlight__item__length px-2 py-1 ">00:00</span>
                        </div>
                        <div class="highlight__item__body text-start mt-3 ">
                            <span class="highlight__item__title " onclick="window.location.href='#' ">양의지, 승리에 성큼 다가서다</span>
                            <div class="highlight__item__box mt-1 ">
                                <span class="highlight__item__box__views ">
                                        <i class="highlight__item__box__views__icon bi bi-play "></i>118</span>
                                <span class="highlight__item__box__gap mx-1 "></span>
                                <span class="highlight__item__box__date ">2021.10.22</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <div class="player__gallery mt-4">
            <div class="player__gallery__header ml-3">
                <img src="{% static 'images\fan_page\detail\header_circle.png' %} " alt="player__gallery__header__circle " class="player__gallery__header__circle mr-2">
                <h2 class="player__gallery__header__title">포토갤러리</h2>
            </div>
            <img src="{% static 'images\fan_page\detail\player__gallery__img.png' %}" alt="player__gallery__img" class="player__gallery__img mt-4">
        </div>


        <div class="player__news_and_comment row mx-0 mt-5">
            <div class="player__news col-6">
                <div class="player__news__header">
                    <img src="{% static 'images\fan_page\detail\header_circle.png' %}" alt="player__news__header__circle" class="player__news__header__circle">
                    <h2 class="player__news__header__title">#양의지</h2>
                </div>

                <div class="player__news__contents mt-4">
                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__01.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">홈으로 향하는 양의지</h3>
                            <span class="player__news__item__right__source">뉴스1</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">1일 전</span>
                        </div>
                    </div>

                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__02.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">[사진] 배정대 보살 당하는 양의지</h3>
                            <span class="player__news__item__right__source">OSEN</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">1일 전</span>
                        </div>
                    </div>

                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__03.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">[포토] 양의지, 2회 안타로 시작</h3>
                            <span class="player__news__item__right__source">스포츠조선</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">1일 전</span>
                        </div>
                    </div>

                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__04.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">[MD포토] 양의지 '허탈한 아웃'</h3>
                            <span class="player__news__item__right__source">마이데일리</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">1일 전</span>
                        </div>
                    </div>

                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__05.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">양의지 '2루에서 득점은 식은 죽 먹기지'</h3>
                            <span class="player__news__item__right__source">스포츠동아</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">2일 전</span>
                        </div>
                    </div>

                    <div class="player__news__item row mt-2">
                        <div class="player__news__item__left col-4">
                            <img src="{% static 'images\fan_page\detail\player__news__item__img__06.png' %} " alt="player__news__item__left__img" class="player__news__item__left__img">
                        </div>
                        <div class="player__news__item__right col-8">
                            <h3 class="player__news__item__right__title mt-3">[사진]양의지, '우리가 앞서간다'</h3>
                            <span class="player__news__item__right__source">OSEN</span>
                            <span class="player__news__item__right__gap mx-1"></span>
                            <span class="player__news__item__right__date">2일 전</span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="chatting col-6">
                <div class="player__comment__header">
                    <img src="{% static 'images\fan_page\detail\header_circle.png' %}" alt="player__comment__header__circle" class="player__comment__header__circle">
                    <h2 class="player__comment__header__title">응원의 한마디</h2>
                </div>

                <div class="chatting__contents border-radius shadow show pb-3 collapse">
                    <div class="chatting__list m-auto px-2 pt-3">
                        <div class="chatting__item mb-1">
                            <div class="chatting__item__header d-block">
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__01.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                                <h3 class="chatting__item__header__user__id d-inline-block">actionsports7</h3>
                            </div>

                            <div class="chatting__item__box d-inline-block ml-5">
                                <span class="chatting__item__box__user__text d-block p-2 px-3 m-1">더 생생하게 와닿네요 우리팀 응원합니다^^</span>
                            </div>
                        </div>

                        <div class="chatting__item mb-1">
                            <div class="chatting__item__header d-block">
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__02.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                                <h3 class="chatting__item__header__user__id d-inline-block">KTwizfan123</h3>
                            </div>

                            <div class="chatting__item__box d-inline-block  ml-5">
                                <span class="chatting__item__box__user__text d-block p-2 px-3 m-1">실시간 생중계 잘 보고 있습니다 재미있어요~!</span>
                                <span class="chatting__item__box__user__text d-inline-block p-2 px-3 m-1">오늘 경기력이 대단하네요!</span>
                            </div>
                        </div>

                        <div class="chatting__item mb-1">
                            <div class="chatting__item__header d-block">
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__03.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                                <h3 class="chatting__item__header__user__id d-inline-block">KTwizfan123</h3>
                            </div>

                            <div class="chatting__item__box d-inline-block ml-5">
                                <span class="chatting__item__box__user__text d-block p-2 px-3 m-1">실시간 생중계 잘 보고 있습니다 재미있어요~!</span>
                                <span class="chatting__item__box__user__text d-inline-block p-2 px-3 m-1">오늘 경기력이 대단하네요!</span>
                            </div>
                        </div>

                        <div class="chatting__item mb-1">
                            <div class="chatting__item__header d-block">
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__02.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                                <h3 class="chatting__item__header__user__id d-inline-block">KTwizfan123</h3>
                            </div>

                            <div class="chatting__item__box d-inline-block ml-5">
                                <span class="chatting__item__box__user__text d-block p-2 px-3 m-1">실시간 생중계 잘 보고 있습니다 재미있어요~!</span>
                                <span class="chatting__item__box__user__text d-inline-block p-2 px-3 m-1">오늘 경기력이 대단하네요!</span>
                            </div>
                        </div>

                        <div class="chatting__item mb-1">
                            <div class="chatting__item__header d-block">
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__01.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                                <h3 class="chatting__item__header__user__id d-inline-block">actionsports7</h3>
                            </div>

                            <div class="chatting__item__box d-inline-block ml-5">
                                <span class="chatting__item__box__user__text d-block p-2 px-3 m-1">더 생생하게 와닿네요 우리팀 응원합니다^^</span>
                            </div>
                        </div>


                        <div class="chatting__item my_chatting__item text-right">
                            <div class="my_chatting__item__header d-block">
                                <h3 class="my_chatting__item__header__user__id d-inline-block">Actionsports2021</h3>
                                <img src="{% static 'images\action_live\chatting__item__header__user__icon__02.png' %}" alt="chatting__user__01__icon" class="chatting__item__header__user__icon">
                            </div>
                            <div class="my_chatting__item__box d-inline-block mr-5">
                                <span class="my_chatting__item__box__text d-block p-2 px-3 m-1">실시간 생중계 잘 보고 있습니다 재미있어요~!</span>
                            </div>
                        </div>
                    </div>

                    <div class="chatting__input px-5 mt-3">
                        <p class="lead emoji-picker-container chatting__input__container d-inline-block mb-0 mr-3">
                            <textarea type="textbox" data-emoji-input="unicode" class="form-control chatting__input__text" placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 서비스 이용에 재재를 받을 수 있습니다." data-emojiable="true"></textarea>
                        </p>
                        <button class="btn chatting__input__registration d-inline-block p-0">
                            <img src="{% static 'images\action_live\chatting__input__registration__img.png' %}" alt="chatting__input__registration__img"  class="chatting__input__registration__img" />
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %} {% block script %}

<!-- page control -->
<!-- <script src="{% static 'js\controlFanPage.js' %} "></script> -->
<script src="{% static 'emoji\js\config.js' %}"></script>
<script src="{% static 'emoji\js\util.js' %}"></script>
<script src="{% static 'emoji\js\jquery.emojiarea.js' %}"></script>
<script src="{% static 'emoji\js\emoji-picker.js' %}"></script>
<script src="{% static 'js\getEmoji.js' %}"></script>

{% endblock script %}